.app {
  width: 100vw;
  height: 100vh;
  background: var(--desktop-bg);
  position: relative;
  overflow: hidden;
}

.desktop {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 24px;
  gap: 12px;
  overflow: auto;
}
